<html>
<head>
    <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>City greens: Annual New York City Greenhouse Gas Emissions</title>
  </head>
  <body>
    <h1>Hello, world!</h1>
  </body>
</html>
</head>

<body></body>

<h1>
    City greens: Annual New York City Greenhouse Gas Emissions
</h1>

<h2>
    By Elliott Arbogast
</h2>

    This project takes a deep dive into greenhouse gas emissions in New York City. It will examine years between 2005 and 2016 to compare the greenhouse gas emissions in New York City overtime. It will compare various gas emissions such as CO2, N20, CH4, and more.

    {% include 'footer.html' %}
</body>

</html>